.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
}

.gallery-item {
  flex-basis: calc((100% - 30px) / 3);
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}
